<!DOCTYPE html>
<html lang="pt-br">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BookStore</title>

    <!-- Bootstrap core CSS -->
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/half-slider.css" rel="stylesheet">

  </head>

  <body style="background-image: url('static/img/slide3.jpg')">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">BookStore</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('homepage')}}">Home</a>
            </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Novo</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="{{url_for('addEditora')}}">Editora</a>
              <a class="dropdown-item" href="{{url_for('addAutor')}}">Autor</a>
              <a class="dropdown-item" href="{{url_for('addLivro')}}">Livros</a>
              
              
            </div>
          </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('catalogo')}}">Catalogo</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="/logout">Log Out</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br>
    <br>
    <br>
    <div class="container" align="center">
        <div class="jumbotron" align="center">
          <h2>Novo Autor</h2>
          <form class="form" method="POST">
            <div class="form-group">
              <label>Nome</label>
              <input type="text" class="form-control form-control-lg rounded-0" name="nome">
            </div>
                                    
            <button type="submit" value="Cadastrar" class="btn btn-secundary my-2 my-sm-0">Adicionar</button>
          </form>
        </div>
    </div>

    <div class="container" align="center">
        <div class="jumbotron" align="center">

        <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>NOME</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <!--For pra listar todos os autores cadastrado no banco-->
              {%- for autor in autores %}
              <tr>
                <td>{{ autor.id }}</td>
                <td>{{ autor.nome }}</td>
                <!--Ao clicar no bptão atualizar ele pega o id do livro em questão e chama o metodo atualizarLivro-->
                <td><a href="{{url_for('atualizarAutor', id=autor.id)}}" class="btn btn-info">
                    <i class="fa fa-pencil fa-fw"></i>Atualizar</a>
                </td>
                <!--Ao clicar no botão excluir ele pega o id do livro em questão e chama a a função removerAutor-->
                <td><a href="{{url_for('removerAutor', index=autor.id)}}" class="btn btn-info">
                    <i class="fa fa-trash-o fa-lg"></i>Excluir</a>
                </td>
              </tr>
              {%- endfor %}
            </tbody>
          </table>
    </div>
</div>

    

    <!-- Bootstrap core JavaScript -->
    <script src="static/jquery/jquery.min.js"></script>
    <script src="static/popper/popper.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>

  </body>

</html>
