<!--PÁGINA DE TESTE-->
<!DOCTYPE html>
<html lang="pt-br">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BookStore</title>

    <!-- Bootstrap core CSS -->
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/half-slider.css" rel="stylesheet">

  </head>

  <body style="background-image: url('static/img/carousel/slide3.jpg')">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">BookStore</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{url_for('homepage')}}">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <!--Se usuário estiver em sessão e o usuario for tipo 2 (cliente) ele ver os links pro carrinho e pra sair-->
            {% if 'usuario' in session %}
            {% if session['usuario'] == 2 %}
            <li class="nav-item">
              <a class="nav-link" href="#">Carrinho</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('logout')}}">Sair</a>
            </li>
            {% endif %}
            {% endif %}
           
          </ul>
        </div>
      </div>
    </nav>
    <br>
    <br>
    <br>
    <div class="container" align="center">
        <div class="jumbotron" align="center">
          <table class="table">
            <thead>
              <tr>
                <th>Titulo</th>
                <th>Autor</th>
                <th>Preco</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            <!--For pra carregar os livros do banco na tela-->
              {%- for livro in livros %}
              <tr>
                <td>{{ livro.titulo }}</td>
                <td> {{ livro.id_autor }}</td>
                <td> R$ {{ livro.preco }}</td>
                {%- if session['usuario'] == 2 %}
                <td><a href="{{url_for('carrinho')}}"><button class="btn btn-info">Carrinho</button></a></td>
                {%- endif %}
              </tr>
              {%- endfor %}
            </tbody>
          </table>
        </div>
    </div>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; BookStore 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="static/jquery/jquery.min.js"></script>
    <script src="static/popper/popper.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>

  </body>

</html>
