<!--PÁGINA DE TESTE-->
<!DOCTYPE html>
<html lang="pt-br">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BookStore</title>

    <!-- Bootstrap core CSS -->
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/half-slider.css" rel="stylesheet">

  </head>

  <body style="background-image: url('static/img/slide3.jpg')">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">BookStore</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{url_for('homepage')}}">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('catalogo')}}">Catalogo</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('registro')}}">Cadastre-se</a>
            </li>
            
          </ul>
        </div>
      </div>
    </nav>
    <br>
    <br>
    <br>
    <div class="container py-5">
      <div class="row">
          <div class="col-md-12">
              
              <div class="row">
                  <div class="col-md-6 mx-auto">
                      <span class="anchor" id="formLogin"></span>

                      <!-- form card login -->
                      <div class="card rounded-0">
                          <div class="card-header">
                              <h3 class="mb-0">Login</h3>
                          </div>
                          <div class="card-body">
                              <form class="form" role="form" autocomplete="off" id="formLogin">
                                  <div class="form-group">
                                      <label for="uname1">Username</label>
                                      <input type="text" class="form-control form-control-lg rounded-0" name="uname1" id="uname1" required="">
                                  </div>
                                  <div class="form-group">
                                      <label>Password</label>
                                      <input type="password" class="form-control form-control-lg rounded-0" id="pwd1" required="" autocomplete="new-password">
                                  </div>
                                  <div>
                                      <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description small">Lembrar de mim</span>
                                      </label>
                                  </div>
                                  <a href="{{url_for('perfil')}}"><button type="button" class="btn btn-success btn-lg float-right">Login</button></a>
                              </form>
                          </div>
                          <!--/card-block-->
                      </div>
                      <!-- /form card login -->
                  </div>
              </div>
              <!--/row-->
          </div>
          <!--/col-->
      </div>
      <!--/row-->
  </div>
  <!--/container-->

    

    <!-- Bootstrap core JavaScript -->
    <script src="static/jquery/jquery.min.js"></script>
    <script src="static/popper/popper.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>

  </body>

</html>
